@page
@model Simple.Abp.CmsKit.Public.Web.Pages.BlogPostModel
@using System.Text
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject ITheme Theme
@{
    Layout = Theme.GetLayout("Application2");
    ViewBag.Title = Model.BlogPost.Title;
    ViewBag.Description  =Model.BlogPost.ShortDescription;

    string cdnHost = ViewBag.CdnHost;
}
@section styles{
    @if (cdnHost.IsNullOrWhiteSpace())
    {
        <abp-style src="/libs/css/detail.css" />
    }
    else
    {
        <link rel="stylesheet" href="@(cdnHost+"/libs/css/detail.css")">
    }

}
@section scripts{
    @if (cdnHost.IsNullOrWhiteSpace())
    {
        <abp-script src="/libs/js/detail.js" />
    }
    else
    {
        <script src="@(cdnHost+"/libs/js/detail.js")"></script>
    }
}


@section actions{
<ul>
    @if (Model.BlogPost.Previous != null)
    {
    <li>
        <a class="icon" href="/blogs/@Model.BlogSlug/@Model.BlogPost.Previous.Slug">
            <i class="fas fa-chevron-left" aria-hidden="true"
               onmouseover="$('#i-prev').toggle();"
               onmouseout="$('#i-prev').toggle();">
            </i>
        </a>
    </li>
    }

    @if (Model.BlogPost.Next != null)
    {
    <li>
        <a class="icon" href="/blogs/@Model.BlogSlug/@Model.BlogPost.Next.Slug">
            <i class="fas fa-chevron-right" aria-hidden="true"
               onmouseover="$('#i-next').toggle();"
               onmouseout="$('#i-next').toggle();">
            </i>
        </a>
    </li>
    }
    <li>
        <a class="icon" href="#"
           onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');">
            <i class="fas fa-chevron-up" aria-hidden="true"
               onmouseover="$('#i-top').toggle();"
               onmouseout="$('#i-top').toggle();">
            </i>
        </a>
    </li>
    <li>
        <a class="icon" href="#">
            <i class="fas fa-share-alt" aria-hidden="true"
               onmouseover="$('#i-share').toggle();"
               onmouseout="$('#i-share').toggle();"
               onclick="$('#share').toggle();return false;">
            </i>
        </a>
    </li>
</ul>
<span id="i-prev" class="info" style="display:none;">
    Previous post
</span>

<span id="i-next" class="info" style="display:none;">
    Next post
</span>

<span id="i-top" class="info" style="display:none;">
    Back to top
</span>
<span id="i-share" class="info" style="display:none;">
    Share post
</span>
}
<article class="post">
    <header>

        <h1 class="posttitle" itemprop="name headline">
            @Model.BlogPost.Title
        </h1>

        <div class="meta">

            <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">@Model.BlogPost.Author.Name</span>
            </span>

            <div class="postdate">
                <time datetime="@Model.BlogPost.CreationTime" itemprop="datePublished">
                    @Model.BlogPost.CreationTime.ToString("MMM dd, yyyy", new System.Globalization.CultureInfo("en-us"))
                </time>
            </div>

            <div class="article-tag">

                <a class="tag-link" href="/blogs/@Model.BlogSlug">
                    @Model.BlogPost.Blog.Name.ToLower()
                </a>

                @if (Model.Tags.Count > 0)
                {
                    <temp>|</temp>
                    <i class='fas fa-tag'>  </i>
                }

               @Html.Raw(HandelTags())
            </div>
        </div>
    </header>


    <div class="content" itemprop="articleBody">
        <p>
            @Model.BlogPost.ShortDescription
        </p>
        @Html.Raw(Model.BlogPost.Content)
    </div>
</article>

@functions {
    string HandelTags()
    {
        List<string> tags = new List<string>();
        foreach (var tag in Model.Tags)
            tags.Add($"<a class='tag-link' href='/tags/{tag.Name.ToLower()}'> {tag.Name}</a>");

        return string.Join(",",tags);
    }
}