@page "/article/{year:int}/{month:int}/{day:int}/{seo}"
@model Simple.Abp.Articles.Public.Web.Pages.DetailModel
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject ITheme Theme
@{
    Layout = Theme.GetLayout("Application2");
    ViewBag.Title = Model.Article.Title;
    ViewBag.Content = Model.Article.Summary;
}
@section styles{
    <abp-style src="/libs/css/detail.css" />
}
@section scripts{
    <abp-script src="/libs/js/detail.js" />
}


@section actions{
    <ul>
        @if (Model.Article.Previous != null)
        {
            <li>
                <a class="icon" href="@Model.Article.Previous.FrontUrl">
                    <i class="fas fa-chevron-left" aria-hidden="true"
                       onmouseover="$('#i-prev').toggle();"
                       onmouseout="$('#i-prev').toggle();">
                    </i>
                </a>
            </li>
        }

        @if (Model.Article.Next != null)
        {
            <li>
                <a class="icon" href="@Model.Article.Next.FrontUrl">
                    <i class="fas fa-chevron-right" aria-hidden="true"
                       onmouseover="$('#i-next').toggle();"
                       onmouseout="$('#i-next').toggle();">
                    </i>
                </a>
            </li>
        }
        <li>
            <a class="icon" href="#"
               onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');">
                <i class="fas fa-chevron-up" aria-hidden="true"
                   onmouseover="$('#i-top').toggle();"
                   onmouseout="$('#i-top').toggle();">
                </i>
            </a>
        </li>
        <li>
            <a class="icon" href="#">
                <i class="fas fa-share-alt" aria-hidden="true"
                   onmouseover="$('#i-share').toggle();"
                   onmouseout="$('#i-share').toggle();"
                   onclick="$('#share').toggle();return false;">
                </i>
            </a>
        </li>
    </ul>
    <span id="i-prev" class="info" style="display:none;">
        Previous post
    </span>

    <span id="i-next" class="info" style="display:none;">
        Next post
    </span>

    <span id="i-top" class="info" style="display:none;">
        Back to top
    </span>
    <span id="i-share" class="info" style="display:none;">
        Share post
    </span>
}
<article class="post">
    <header>

        <h1 class="posttitle" itemprop="name headline">
            @Model.Article.Title
        </h1>

        <div class="meta">

            @*<span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name">Cactus Dark</span>
                </span>*@

            <div class="postdate">
                <time datetime="@Model.Article.CreationTime" itemprop="datePublished">
                    @Model.Article.FrontCreationTime
                </time>
            </div>

            <div class="article-tag">
                <i class="fas fa-tag"></i>
                <a class="tag-link" href="/writing/catalog/@Model.Article.Catalog?.Title.ToLower()">
                    @Model.Article.Catalog?.Title
                </a>,
                @if (!Model.Article.Tag.IsNullOrWhiteSpace())
                {
                    <a class="tag-link" href="/writing/tag/@Model.Article.Tag.ToLower()">
                        @Model.Article.Tag
                    </a>
                }

            </div>
        </div>
    </header>


    <div class="content" itemprop="articleBody">
        <p>
            @Model.Article.Summary
        </p>
        @Html.Raw(Model.Article.Content)
    </div>
</article>